@using SunShine.Model;
@model List<ProductCategoryViewModel>
@{
    Layout = null;
    List<ProductCategoryViewModel> usageCategories = new List<ProductCategoryViewModel>();
    List<ProductCategoryViewModel> industryCategories = new List<ProductCategoryViewModel>();
    List<ProductCategoryViewModel> productCategories = new List<ProductCategoryViewModel>();
    if (Model != null && Model.Count > 0) {
        usageCategories = Model.Where(en => en.groupmethod == (int)GroupMethodType.Usage).ToList();
        industryCategories = Model.Where(en => en.groupmethod == (int)GroupMethodType.Industry).ToList();
        productCategories = Model.Where(en => en.groupmethod == (int)GroupMethodType.Product).ToList();
    }
}
@{
    if (Model != null && Model.Count > 0) {

        <div class="category_box" style="padding:20px 0;">
            <div class="category_header">
                <img src="~/Images/home/car_icon.jpg" />产品直通车
            </div>
            @if (usageCategories != null && usageCategories.Count > 0) {
                <div class="category_item">
                    <div class="category_left">
                        <div class="category_title">按用途分类</div>
                    </div>
                    <div class="category_right category_right_one">
                        @for (int i = 0; i < usageCategories.Count; i++) {
                            if (i == usageCategories.Count - 1) {
                                <span><a href="@Url.Action("List","Product",new { categoryCode=usageCategories[i].categorycode})" >@usageCategories[i].categoryname</a>&nbsp;</span>
                            }
                            else {
                                <span><a href="@Url.Action("List","Product",new { categoryCode=usageCategories[i].categorycode})" >@usageCategories[i].categoryname</a>&nbsp;|</span>
                            }
                        }
                    </div>
                </div>
            }
            @if (productCategories != null && productCategories.Count > 0)
            {
                <div class="category_item" style="margin-bottom:20px;">
                    <div class="category_left">
                        <div class="category_title">按产品分类</div>
                    </div>
                    <div class="category_right category_right_two">
                        @for (int i = 0; i < productCategories.Count; i++)
                        {
                            if (i == usageCategories.Count - 1)
                            {
                                <span><a href="@Url.Action("List","Product",new { categoryCode=productCategories[i].categorycode})">@productCategories[i].categoryname</a>&nbsp;</span>
                            }
                            else
                            {
                                <span><a href="@Url.Action("List","Product",new { categoryCode=productCategories[i].categorycode})">@productCategories[i].categoryname</a>&nbsp;|</span>
                            }
                            if (i == 4)
                            {
                                <br />
                            }
                        }
                    </div>
                </div>
            }
            @if (industryCategories != null && industryCategories.Count > 0) {
                <div class="category_item">
                    <div class="category_left">
                        <div class="category_title">按行业分类</div>
                    </div>
                    <div class="category_right category_right_two">
                       @for (int i = 0; i < industryCategories.Count; i++) {
                           if (i == industryCategories.Count - 1) {
                            <span><a href="@Url.Action("List","Product",new { categoryCode=industryCategories[i].categorycode})">@industryCategories[i].categoryname</a>&nbsp;</span>
                           }
                           else {
                            <span><a href="@Url.Action("List","Product",new { categoryCode=industryCategories[i].categorycode})">@industryCategories[i].categoryname</a>&nbsp;|</span>
                           }
                           if (i == 4) {
                            <br />
                           }
                       }
                    </div>
                </div>
            }
           
            
        </div>
        <div style="clear:both;"></div>
    }

}

