@using SunShine.BLL;
@using SunShine.Model;
@model SunShine.Model.SiteCategoryViewModel
@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewBag.Title = "编辑网站类别";
    if (string.IsNullOrEmpty(Model.idcategory)) {
        ViewBag.Title = "新增网站类别";
    }
}


<div class="ManageRightTitle">
    <ol class="breadcrumb">
        <li><a href="#">文章管理</a></li>
        <li><a href="@Url.Action("SiteCategoryList","Manage")">网站类别管理</a></li>
        <li><a href="#" class="active">@(string.IsNullOrEmpty(Model.idcategory) ? "新增网站类别" : "编辑网站类别")</a></li>
    </ol>
</div>
<div class="ManageRightContent">
    <form action="@Url.Action("SiteCategoryEdit","Manage")" method="post" class="form-horizontal">
        <div class="merc-edit-box ">
            <fieldset>
                <input type="hidden" name="returnurl" value="@Request["returnurl"]" />
                @Html.HiddenFor(model => model.idcategory)
                @Html.HiddenFor(model => model.categorycode)
                @Html.HiddenFor(model => model.inuse)
                <div class="form-group">
                    @Html.LabelFor(model => model.ParentCategory, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.DropDownListFor(model => model.parentid, new SelectList(SiteCategoryService.SelectItems(Model.idcategory), "DisplayValue", "DisplayText"), new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.parentid)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.categorycode, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        <p class="form-control-static">@Model.categorycode</p>
                    </div>
                    @Html.ValidationMessageFor(model => model.categorycode)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.categoryname, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.categoryname, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.categoryname)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.englishname, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.englishname, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.englishname)
                </div><div class="form-group">
                    @Html.LabelFor(model => model.pagesize, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-3">
                        @Html.TextBoxFor(model => model.pagesize, new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(model => model.pagesize)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.title, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-7">
                        @Html.TextAreaFor(model => model.title, new { @class = "form-control", @rows = 4 })
                    </div>
                    @Html.ValidationMessageFor(model => model.title)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.keyword, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-7">
                        @Html.TextAreaFor(model => model.keyword, new { @class = "form-control", @rows = 4 })
                    </div>
                    @Html.ValidationMessageFor(model => model.keyword)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.description, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-7">
                        @Html.TextAreaFor(model => model.description, new { @class = "form-control", @rows = 4 })
                    </div>
                    @Html.ValidationMessageFor(model => model.description)
                </div>
                @*<div class="form-group">
                        @Html.LabelFor(model => model.inuse, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-3">
                            @Html.CheckBoxFor(model => model.inuse, new { @class = "form-control" })
                        </div>
                        @Html.ValidationMessageFor(model => model.inuse)
                    </div>*@
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <div class="col-sm-2">

                    </div>
                    <div class="col-sm-10" style="padding-top:10px;">
                        <input type="submit" value="保存" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
</div>
@*<script type="text/javascript">
        $(function () {
            $.fn.bootstrapSwitch.defaults.onText = '启用';
            $.fn.bootstrapSwitch.defaults.offText = '禁用';
            $("#@Html.IdFor(model => model.inuse)").bootstrapSwitch();
        });
    </script>*@